<!-- navbar -->
<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="isMobileView; else desktopView">
    <mat-icon (click)="sidenav.toggle()">{{ sidenav.opened ? 'close' : 'menu' }}</mat-icon>
  </button>

  <span class="menu__title">PWA</span>

  <span class="menu__spacer"></span>

  <ng-template #desktopView>
    <div class="menu__last-items">
      <a mat-button [routerLink]="'/home'">Home</a>
      <a mat-button [routerLink]="'/about'">About</a>
      <a mat-button [routerLink]="'/contacts'">Contacts</a>
    </div>
  </ng-template>

</mat-toolbar>

<!-- sidebar -->
<mat-sidenav-container (click)="closeSidebar()">
  <mat-sidenav #sidenav style="width: 100%">
    <mat-nav-list class="menu--mobile">
      <div class="menu__item" (click)="navigateTo('/home')">Home</div>
      <div class="menu__item" (click)="navigateTo('/about')">About</div>
      <div class="menu__item" (click)="navigateTo('/contacts')">Contacts</div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <!-- content -->
      <router-outlet class="content__inner"></router-outlet>
    </div>
  </mat-sidenav-content>

  <div class="sidenav__actions">
    <button mat-raised-button color="primary" *ngIf="(applicationInstallable$ | async)"
            (click)="install($event)" aria-label="install-app">
      <mat-icon>add_to_home_screen</mat-icon>
      <span>Install</span>
    </button>

    <button mat-raised-button color="primary" *ngIf="(newVersionAvailable$ | async)"
            (click)="loadNewVersion($event)" aria-label="update-app">
      <mat-icon>update</mat-icon>
      <span>Update</span>
    </button>
  </div>

</mat-sidenav-container>

<!--<mat-bottom-sheet-container></mat-bottom-sheet-container>-->
